*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

html{
  font-size: 62.5%;
}

body{
  background-color: black;
  
}

.App{
  display: flex;
  height: 100vh;
max-width:150rem;
margin: 0 auto;
}